<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Peer to Peer Chat Program</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form th:action="@{/}" th:method="put">
                <!--                <p th:if="${error}" th:text="${error}" style="color: red"></p>-->
                <label class="form-label">Your username:
                    <input class="form-control" type="text" required name="username" th:value="${username}">
                </label>
                <button type="submit" class="btn btn-primary">UPDATE</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-1 mb-5">
        <div class="col-6">
            <div class="list-group">
                <a th:each="message : ${messages}" href="#" class="list-group-item list-group-item-action"
                   aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${message.username}"></h5>
                        <small th:text="${#dates.format(message.timestamp, 'dd-MM-yyyy HH:mm:ss')}"></small>
                    </div>
                    <p class="mb-1" th:text="${message.text}"></p>
                    <!--            <small>And some small print.</small>-->
                </a>
            </div>
        </div>
    </div>


    <!--    <div>-->
    <!--        <ul th:each="message : ${messages}">-->
    <!--            <li th:text="${message.text}"></li>-->
    <!--            <li th:text="${message.username}"></li>-->
    <!--        </ul>-->
    <!--    </div>-->


    <div class="row justify-content-center">
        <div class="col-6">
            <form th:action="@{/}" th:method="post">
        <textarea class="form-control" cols="15" rows="2" name="text" required style="resize: none" placeholder="Type your message here..."></textarea>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary mr-1">Send</button>
                    <a th:href="@{/}">
                        <button type="button" class="btn btn-success">Refresh</button>
                    </a>
                </div>
            </form>
        </div>
    </div>


</div>
<footer class="container pb-5">
    <hr class="border border-primary border-2 opacity-75">
    <div class="d-flex justify-content-around">
        <form th:method="get" class="row align-items-end mt-3">
            <div class="col-auto">
                <div class="row">
                    <label class="col-form-label" for="select1">Show Posts:</label>
                    <div class="d-flex flex-wrap">
                        <select id="select1" name="pageSize" onchange="this.form.submit()" class="form-select">
                            <option th:each="size : ${pageSizes}"
                                    th:text="${size}"
                                    th:selected="${size} == ${currentPageSize} ? true : false"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <form th:method="get" class="row align-items-end mt-3">
            <div class="col-auto">
                <div class="row">
                    <label class="col-form-label" for="select2">Page:</label>
                    <div class="d-flex flex-wrap">
                        <select id="select2" name="pageNumber" onchange="this.form.submit()" class="form-select">
                            <option th:each="i : ${#numbers.sequence(0, messages.getTotalPages() - 1)}"
                                    th:text="${i + 1}"
                                    th:selected="${i} == ${messages.getPageable().getPageNumber()} ? true : false"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <form th:method="get" class="row align-items-end mt-3">
            <div class="col-auto">
                <div class="row">
                    <label class="col-form-label" for="select3">Sort:</label>
                    <div class="d-flex flex-wrap">
                        <select id="select3" name="sortType" onchange="this.form.submit()" class="form-select">
                            <option th:each="type : ${T(com.greenfoxacademy.p2pchat.utils.SortType).values()}"
                                    th:value="${type}"
                                    th:text="${type.getName()}"
                                    th:selected="${type} == ${currentSortType} ? true : false">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>